@media only screen and (min-device-width : 350px) {
    form input {
        font-size: 0.9rem;
        padding: 15px;}
    }

    form input::placeholder {
        font-size: 0.9rem;
    }

@media only screen and (min-device-width : 480px) {
    form#login-form { 
        height: fit-content;
        max-width: 400px;
        border-radius: 10px;
        border: 2px solid rgba(255,255,255,0.1);
        box-shadow: 0 0 40px rgba(8,7,16,0.6);
    }
}

