@import url('https://fonts.googleapis.com/css2?family=Beth+Ellen&family=Gloria+Hallelujah&family=Grape+Nuts&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');

/* font-family: 'Raleway', sans-serif; 
font-family: 'Cormorant Garamond', serif; 
font-family: 'Quicksand', sans-serif;
font-family: 'Alegreya Sans SC', sans-serif;
font-family: 'Amatic SC', cursive;
font-family: 'Beth Ellen', cursive;
font-family: 'Gloria Hallelujah', cursive;
font-family: 'Grape Nuts', cursive;*/

.colourscheme {
    color: #1C2120
    #F2EFEB
    #8D8F84
    #F2C744
    #484B4B
    #C07A35
}

body {
    color: #1C2120;
    background-color: #F2EFEB;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5;   
}

header {
    position: relative;
    border-bottom: 3px solid #F2C744;
    background-color: #1C2120 !important;
    width: 100%;
    height: 180px;
    z-index: 3;
    max-width: 100%;
}

div#inner-header {
    padding-top: 35px;
    padding-bottom: 35px;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    justify-content: space-between;
    position: static !important;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    text-align: left;
}

.logo-container {
    position: static !important;
    width: auto !important;
    height: auto !important;
    display: inline-block;

}

a {
    vertical-align: baseline;
    cursor: pointer;
    text-decoration: none;
    color: #1C2120;
}

.logo-container a {
    display: inline-block;

}

#logo {
    max-width: 220px !important;
    display: inline-block;
    float: none;
    max-height: 80%;
    margin-bottom: 0;
    margin-left: 20px;
    vertical-align: middle;
}

#logo:hover  {
    filter: invert(7%) sepia(50%) saturate(3000%) hue-rotate(322deg) brightness(100%) contrast(90%);
}

#footer-logo-1:hover {
    filter: invert(7%) sepia(50%) saturate(3000%) hue-rotate(322deg) brightness(100%) contrast(90%);
}

.icon-sm:hover {
    filter: invert(7%) sepia(50%) saturate(3000%) hue-rotate(322deg) brightness(100%) contrast(90%);
}
/* MAIN CONTENT */

/* SLIDESHOW */

.mySlides {
    display:none;
    width: 100%;
    height: 50vh;
}

#slider-text, #slider-icon {
display:none;
}

.slideshow {
    max-width:100%
}

.cover {
    object-fit: cover;
}
.animate-right {
    position:relative;
    animation:animateright 1s}
    
@keyframes animateright {
    from{right:-300px;opacity:0} to{right:0;opacity:1}
}

h2 {
    font-family: 'Alegreya Sans SC', sans-serif;
    font-size: 1.4em;
    text-transform: uppercase;
}

h3 {
    font-family: 'Alegreya Sans SC', sans-serif;
    font-size: 1.3em;
    text-transform: uppercase;
}

h3.home-article {
    margin-top: 40px;
}
h4 {
    font-family: 'Raleway', sans-serif;
    font-size: 1em;
    font-weight: 500;
    margin-top: 5px;
    margin-bottom: 5px;
}

h5 {
    font-size: 1em;
    border-bottom: 2px solid currentColor;
    display: inline-block;
    font-family: 'Raleway', sans-serif;
}

.back-to-top-h5 {
margin-top: 0;
margin-bottom: 20px;
}

.back-to-top-h5:hover {
    opacity: 60%;
}

.main-articles {
margin-bottom: 50px;
}

.main-info-section, .main-about-section, .main-address-section {
    width: 85%;
    margin: auto;
}

.article-image {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 5px;
}

.top-image {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

#black-arrow {
    display: none;
}
/*footer*/

footer {
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
}
.footer-newsletter {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ffffff;
    padding-top: 18px;
    padding-bottom: 18px;
    padding-right: 2.5%;
    padding-left: 2.5%;
    border-bottom:solid 3px #F2C744;
}
div.footer-newsletter a {
    margin-left: 15px;
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.08em;
    font-weight: 500;
    color: #1C2120;
}

div.footer-newsletter img {
    width: 35px;
}


div.footer-content {
    max-width: 100%;
    margin: 0 auto;
    display: block;
    padding-bottom: 20px;
    padding-left: 3%;
    padding-right: 3%;
    background-color: #1C2120;
    color: #ffffff;
    justify-content: space-evenly;
    flex-direction: row;
}

div.footer-logo-wrapper {
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    padding-top: 30px;
    background-color: #1C2120;
    color: #ffffff;
    justify-content: center;
    flex-direction: row;}

div.footer-menus-wrapper {
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    padding-left: 3%;
    padding-right: 3%;
    background-color: #1C2120;
    color: #ffffff;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

div.footer-menu-container {
    float: left;
    max-width: 100%;
    padding: 0 20px 0 20px;
}

#footer-logo-1 {
    max-width: 200px !important;
}


ul.menu-footer {
    padding: 0;
    list-style-type: none;
    margin-top: 2em;
}

.f-menu-item, .f-menu-item-linked {
    margin-bottom: 0.6em;
    text-align: center;
    color: #ffffff;
    position: relative;
    font-weight: 600;
    font-family: 'Raleway', sans-serif;
}

.f-menu-item:hover {
    color: #F2C744;
}

.f-menu-item-linked:hover {
    color: #F2C744;
}

.f-menu-item-linked::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #F2C744;
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

.f-menu-item-linked:hover::before {
transform: scaleX(1);
}

.footer-social-media {
    background-color:#1C2120;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

a img.icon-sm {
    max-width: 50px;
    height: auto;
    padding: 10px;
}

/* dropdown menu style */
#menu {
display:none;
}

#menu.active {
display:block;
animation: fadeIn 1s;
position: absolute;
width: 100%;
top: -60;
}



@keyframes fadeIn {
    from {
    opacity: 0;
    }
    
    to {
    opacity: 1;
    }
}

ul#mobile-menu {
    list-style: none;
    padding: 0px;
    width: 100%;
}

ul#mobile-menu>li {
    border-bottom: 2px solid #F2C744;
    text-align: center;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #484B4B;
}

ul#mobile-menu>li:last-child {
    border-bottom: 5px solid #F2C744;

}

ul#mobile-menu {
font-size: 14px;
font-family: 'Raleway', sans-serif;
text-decoration: none;
text-transform: uppercase;
letter-spacing: 0.08em;
}

ul#mobile-menu a {
    position: relative;
    text-decoration: none;
    color: #F2EFEB; 

}

.menu-item {
    padding-top: 36px;
    padding-bottom: 36px;
    display: block;
    line-height: 1;
}

#menu-item-of-page {
    background-color: #1C2120 !important;
    color: #F2C744 !important;
    border-bottom: 2px solid #F2C744 !important;
    text-align: center !important;
    padding-top: 36px !important;
    padding-bottom: 36px !important;
    display: block;
    line-height: 1;
}

/* desktop menu - hidden state */
#desktop-menu {
    display: none;
}
/* Change the link colour on hover */
ul#mobile-menu a:hover {
    background-color: #8D8F84;
    color: #F2C744;
}

ul#mobile-menu a:active {
    background-color:#F2C744; 
    color: #484B4B;
}

ul#mobile-menu a::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: #F2C744;
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

ul#mobile-menu a:hover::before {
    transform: scaleX(1);
}

/* Find us page */

.shop-title {
    font-weight:500;
}

.list {
    margin: 5px;
}

.days {
    font-weight: 500;
}

/* add to basket popup */
.popup {
position: relative;
display: inline-block;
cursor: pointer;
}

.popup .popuptext {
visibility: hidden;
width: 160px;
background-color: #555;
color: #fff;
text-align: center;
border-radius: 6px;
padding: 8px 0;
position: absolute;
z-index: 1;
bottom: 125%;
left: 50%;
margin-left: -80px;
}

.popup .popuptext::after {
content: "";
position: absolute;
top: 100%;
left: 50%;
margin-left: -5px;
border-width: 5px;
border-style: solid;
border-color: #555 transparent transparent transparent;
}

.popup .show {
visibility: visible;
animation: fadeinout 4s linear forwards;
}

@keyframes fadeinout {
    0%,100% { opacity: 0; }
    50% { opacity: 1; }
}


/* Map */

#mapouter {
    position: relative;
    text-align: right;
    margin: 50px 0;
    height: 300px;
    width: 100%;
}

.gmap_canvas {
    overflow: hidden;
    background: none !important;
    height: 300px;
    width:100%;
    border-radius: 5px;
    box-shadow: 0 10px 30px rgba(49, 49, 46, 0.2);
}

/* contact form (Find us page) */

form.contact-form {
    margin: 50px 0 ;
    background-color: #484B4B;
    padding: 20px;
    border-radius: 10px;
}

#fname-label, #lname-label, #email-label, #subject-label {
    font-family: 'Raleway', sans-serif; 
    font-size: 17px;
    text-align: justify;
    font-style: normal;
}

label.contact {
    font-family: 'Raleway', sans-serif !important; 
    font-size: 15px !important; 
    color: white !important; 
}

#fname, #lname, #email1, #subject1  {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc; 
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical; /* lets user resize text area vertically */

}

button#submit {
    background-color: rgb(192, 122, 53);
    box-shadow: 0 10px 20px rgba(49, 49, 46, 0.6);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    }

button#submit:hover {
    background-color: rgb(150, 95, 40);
    box-shadow: 0 4px 10px rgba(49, 49, 46, 0.8);
    }
button#submit:active {
    background-color:    rgb(141, 143, 132); 
    box-shadow: 0 4px 10px rgba(49, 49, 46, 0.8);
    }

.contact-form .container {
border-radius: 5px;
background-color: #f2f2f2;
padding: 20px;
}

/* popup form hidden by default*/

.form-popup {
    display: none;
    position: fixed;
    position: fixed;
    bottom: 20%;
    z-index: 9;
}

.subscribe {
    max-width: 420px;
    margin: 20px 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
    margin: auto;
    margin-top: 20%;
	background: white;
	height: auto;
	border-radius: 10px;
	box-shadow: 0 4px 20px rgba(95, 107, 119, 0.5);
    z-index: 9;
}

.remove {
    display:none;
}

.subscribe__title {
	font-weight: 600;
	margin: 18px;
}

.subscribe__copy {
	max-width: 450px;
	text-align: center;
	margin-bottom: 53px;
	line-height: 1.5;
    margin: 10px 30px 30px 30px;
}

.form {
	margin-bottom: 25px;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.form-email, .form-name, .placeholderRed, input#firstName, input#lastName, input#email  {
	padding: 20px 25px;
    margin-bottom: 10px;
	border-radius: 5px;
    border: 1px solid #CAD3DB;
	font-size: 15px;
	color: #0F121F;
    width: 80% !important;
}

.form-email:focus, .form-name:focus, input#firstName:focus, input#lastName:focus, input#email:focus {
	outline: 1px solid rgb(192, 122, 53);
}

input#fname:focus, input#lname:focus, input#email1:focus, textarea#subject1:focus {
	outline: 1px solid rgb(192, 122, 53);
}

.success {
    color:green;
    font-size: 15px;
}

.error {
    color:red;

}
.success p {
    font-size: 15px;
}

.error p {
    font-size: 15px;
}

.form-button {
	background: rgb(192, 122, 53);
	border: none;
    width: 80%;
	height: 65px;
	border-radius: 5px;
	font-size: 18px;
	color: white;
	box-shadow: 0 4px 20px rgba(192, 122, 53, 0.7);
    margin-bottom: 10px;
}
.cancel-button {
    display: flex;
    align-self:flex-end;
    margin: 5px;
}

.btn__cancel {
    border: 0;
    background-color: transparent;
    opacity: 80%;
}

.btn__cancel:hover {
    opacity: 100%;
}

.btn__cancel:active {
    opacity: 50%;
}

.form-button:hover {
    background: rgb(150, 95, 40);
	box-shadow: 0 10px 20px rgba(150, 95, 40, 0.7); 
}

.form-button:active {
    background:     rgb(72, 75, 75);
	box-shadow: 0 10px 20px rgba(72, 75, 75, 0.8);
}

.notice {
	width: 80%;
    margin-bottom: 15px;
}

.notice-copy {
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
}

/* black filter */
#overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.6);
    z-index: 1;
    cursor: pointer;
}

button.open-button {
    border: none;
    background-color: transparent;
    display: flex;
    align-items: center;
}

button.open-button:hover {
    opacity: 60%;
}

/* ORDER PAGE */
.order-section {
    padding: 0px 5px 5px;
    display: block;
}

.order-grid {
    display: grid;
    grid-template-columns: repeat(2, minmax(0px, 1fr));
    gap: 16px;
    margin-bottom: 40px;
    margin-top: 24px;
}

article.products {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 1.8vw;
    padding-bottom: 4%;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 3px 8px rgba(49, 49, 46, 0.3);
}

.product-info {
    display:block;
}
.product-price {
    margin: 0;
}

.product-img {
    max-width: 100%;
}

.order-button {
    font-family: 'Alegreya Sans SC', sans-serif;
    font-size: 0.7em;
    text-transform: uppercase;
    color: white;
    background-color: #1C2120;
    border: none;
    padding: 5px;
    margin-left: 5px;
    border-radius: 3px;
}

.order-button:hover {
    opacity: 70%;
}

.price-order {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 15px;
    align-items: stretch;
}

/* ABOUT US */

.about-image {
    width: 100%;
    max-height: 300px;
    margin-top: 50px;
    margin-bottom: 20px;
    border-radius: 5px;
    object-fit: cover;
}

#about-title {
    margin-top: 40px;
    margin-bottom: 0;
}

#more1 {
    display: none;
}
button#read-more {
    font-family: 'Alegreya Sans SC', sans-serif;
    font-size: 0.7em;
    text-transform: uppercase;
    color: white;
    background-color: #1C2120;
    border: none;
    padding: 5px;
    border-radius: 3px;
}


