@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

/* Les variables CSS (des propriétés CSS personnalisées) sont des entités définies par les développeurs ou
les utilisateurs d'une page Web, contenant des valeurs spécifiques
utilisables à travers le document. Elles sont initialisées avec
des propriétés personnalisées (par exemple --main-color: black;)
et accessibles en utilisant la notation spécifique var()
(par exemple : color: var(--main-color);). */

/* La pseudo-classe :root permet de cibler la racine de l'arbre
représentant le document. Pour un document HTML, :root ciblera donc
l'élément <html> et aura le même comportement que le sélecteur html
mais sa spécificité sera plus forte. */


/* :root peut être utile lorsqu'on déclare des variables globales : */
:root {
    --grey: #8D8F84;
    --mustard: #F2C744;
    --white: #ffffff;
    --dirtyWhite: #F2EFEB;
    --almostBlack: #1C2120;
    --charcoal: #484B4B;
}

body{
    background-color: #F2EFEB;
    font-family: 'Raleway', sans-serif;    
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
/* To make a "sticky" footer : 
- Apply display:flex and flex-direction:column to the body. 
- Apply flex:1 (flex-grow:1) to the main element.
- The main element will grow vertically to occupy any empty space, 
thus making the footer stick to the bottom. */

/* header */

header{
    display: flex;
    justify-content: space-between;
    background-color: var(--almostBlack);
    border-bottom: 3px solid var(--mustard);
    position: sticky;
    top: 0;
    width: 100%;
}

img#logo {
    width: 60px;
    margin: 20px 0 20px 20px;
}

/* Nav menu */

nav#nav {
    
    display: none;
}

nav#nav.active{
    width: 100%;
    height: fit-content;
    position: fixed;
    top: 85px;
    display: flex;
    flex-direction: column;
    background-color: var(--charcoal);
}

ul#main-menu li {
    border-bottom: 2px solid var(--mustard);
    text-align: center;
    
}

ul#main-menu li:last-child {
    border-bottom: 5px solid var(--mustard);
}

ul#main-menu a {
    color: var(--dirtyWhite);
    text-transform: uppercase;
    display: block;
    width: 100%;
    height: 100%;
    padding: 20px;
    transition: color 0.5s ease-out;
}


/* Change the link colour on hover */

ul#main-menu a:hover {
    color: var(--mustard);
    text-transform: uppercase;
}

ul#main-menu li:hover {
    background-color: var(--grey);
}

/* Change the link colour when active */

ul#main-menu a:active {
    color: var(--almostBlack);
}

ul#main-menu li:active {
    background-color: var(--mustard);
}

@media (max-width: 768px)
{
/* Expanding line under link */

ul#main-menu li::after {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 4px;
    left: 0;
    background-color: var(--mustard);
    transform: scaleX(0);
    transition: transform 0.5s ease;
}

ul#main-menu li:hover::after {
    transform: scaleX(1);
}
}

/* Menu Icon */
label.hamb{
    cursor: pointer;
    padding: 30px 20px;
}

/* Style label tag */
span.hamb-line {
    background: var(--white);
    display: block;
    height: 2px;
    position: relative;
    width: 24px;

} /* Style span tag */

span.hamb-line::before,
span.hamb-line::after{
    background: var(--white);
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}
span.hamb-line::before{
    top: 5px;
}
span.hamb-line::after{
    top: -5px;
}

/* Hide checkbox */
input.side-menu {
    display: none;
}

/* Toggle menu icon */
input.side-menu:checked ~ nav{
    max-height: 100%;
}

/* Pour créer le X */
/* 1. Masquer la deuxième ligne de l'icône du hamburger
en définissant son fond comme transparent */
input.side-menu:checked ~ label.hamb span.hamb-line {
    background: transparent;
}

/* 2. Faire pivoter les première et troisième lignes de -45 et 45 degrés */
input.side-menu:checked ~ label.hamb span.hamb-line::before {
    transform: rotate(-45deg);
    top:0;
}
input.side-menu:checked ~ label.hamb span.hamb-line::after {
    transform: rotate(45deg);
    top:0;
}

/* Main */

main {
    flex-grow: 1;
}
/* Footer */

footer { 
    display: flex;
    flex-direction: column;
    background-color: var(--almostBlack);
    border-top: 3px solid var(--mustard);
    width: 100%;
}

div#footer-top {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

div.footer-logo-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 90px;
    margin: 20px;
}

div.footer-logo-wrapper svg#logo-footer {
display: flex;
}

div.footer-menus{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 30px;
}

div.footer-menus li { 
    line-height: 1.5rem;
}

div.footer-menus a {
    color: var(--dirtyWhite);
    font-weight: 600;
}

div.footer-menus a:hover {
    color: var(--mustard);
    font-weight: 600;
}

li#address {
    margin-bottom: 10px;
}

ul#menu-2 a::after {
    content: "";
    position: relative;
    display: block;
    width: 100%;
    height: 2px;
    left: 0;
    background-color: var(--mustard);
    transform: scaleX(0);
    transition: transform 0.5s ease;
}

ul#menu-2 a:hover::after {
    transform: scaleX(1);
}

ul#menu-2 li {
    padding: 5px;
}
ul.footer-menu {
    padding: 0;
    margin: 1em;
}

div.social {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-top: 2px solid var(--mustard);
}

div.social a svg {
    max-width: 50px;
    height: auto;
    padding: 10px;
}

svg {
    fill: var(--white);
}

svg:hover {
    fill: var(--mustard);
}



/* tablet / desktop */
@media (min-width: 768px) {

    header {
        align-items: center;
        padding: 10px 20px;
    }

    img#logo {
        width: 80px;
    }

    nav#nav{
        position: static;
        flex-direction: row;
        justify-content: flex-end;
        background-color: transparent;
    }

    ul#main-menu {
        display: flex;
    }

    ul#main-menu li, ul#main-menu li:last-child {
        border: none;
        font-weight: 600;
    }

    ul#main-menu li:hover {
        background-color: transparent;
    }

    ul#main-menu a:hover {
        color: var(--mustard);
    }

    

    .hamb{
        display: none;
    }

    /* Expanding line under link */

ul#main-menu a::after {
    content: "";
    position: relative;
    display: block;
    width: 100%;
    height: 2px;
    left: 0;
    background-color: var(--mustard);
    transform: scaleX(0);
    transition: transform 0.5s ease;
}

ul#main-menu a:hover::after {
    transform: scaleX(1);
}
}
